@charset "utf8";

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

header{
    justify-content: space-between;
    color: black;
    position: absolute;
    width: 100%;
    padding: 20px 20px;
    background-color: transparent;
    z-index: 100;
}

.header-sp{
    display: flex;
}

.logo-img{
    width: 185px;
}

.logo:hover{
    opacity: 0.5;
}

nav{
    margin: 0 0 0 auto;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    gap: 4rem;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0px;
}

li{
    font-weight: 700;
    font-size: 14px;
    position: relative;
}

li::before{
    content: attr(nav-ja);
    font-size: 10px;
    font-weight: 400;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 100%;
}

.faq {
    padding: 0 16px;
}

.header_last {
    background-color: orange;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 38px;
    font-size: 12px;
    margin-right: 30px;
}

.header_last:hover{
    background-color: rgba(245, 170, 29, 0.713);
}

button{
    display: none;
}

section:not(.orange2){
    background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
    height: 80vh;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    padding: 25px;
}

.man{
    display: none;
}

.man-down {
    position: absolute;
    top: 150px;
    padding-left: 50px;
}

.man2{
    width: fit-content;
    margin-bottom: 20px;
}

h2{
    font-size: 38px;
    font-weight: 800;
    text-align: center;
    line-height: 54px;
    padding-bottom: 20px;
}

.man-image {
    text-align: center;
    padding-bottom: 10px;
}

.button{
    display: flex;
}

.counseling{
    background-color: orange;
    color: white !important;
    text-decoration: none;
    padding: 15px;
    border-radius: 40px;
    margin: 0 3%;
    display: flex;
    justify-content: center;
}

.counseling:hover{
    background-color:  rgba(245, 170, 29, 0.713);
}

.paper{
    background-color: white;
    text-decoration: none;
    padding: 15px;
    border-radius: 40px;
    margin: 0 3%;
    display: flex;
    justify-content: center;
    border: solid 1px #a2a2a4;
}

.detail{
    color: #a2a2a4;
    font-size: 10px;
}

.orange{
    background-color: orange;
    color: white;
    padding: 44px 0;
}

.orange2{
    max-width: 1140px;
    padding: 0 50px;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

video{
    width: 50%;
}

.orange3 {
    padding-left: 25px;
}

h1{
    font-size: 38px;
    font-weight: 900;
    letter-spacing: .1rem;
    line-height: 54px;
}

.detail2{
    font-size: 16px;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 14px;
}

.last{
    display: flex;
}