@charset "utf8";

*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    font-family: "游ゴシック",YuGothic,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}

a{
    text-decoration: none;
}

a:visited{
    color: inherit;
}

header {
    display: block;
    position: fixed;
    background-color: white;
    width: 100%;
    padding: 15px 0;
    z-index: 10 ;
}

.header-sp{
    display: flex;
    margin: 0 20px;
}

.logo-img {
    width: auto;
    height: 16px;
    margin: 10px;
}

ul {
    display: none;
}

button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border: 0;
    border-radius: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    margin: 0;
    outline: none;
    padding: 0;
    vertical-align: middle;
}

.ham {
    border: none;
    display: flex;
    width: 39px;
    height: 39px;
    position: relative;
    z-index: 3;
    margin: 0 0 0 auto;
}

.bar {
    width: 25px;
    height: 2.5px;
    display: block;
    position: absolute;
    left: 100%;
    transform: translateX(-50%);
    background-color: black;
    border-radius: 2px;
}


.ham-line1 {
    top: 10px;
}

.ham-line2 {
    top: 50%;
    transform: translate(-50%, -50%);
}

.ham-line3 {
    bottom: 10px;
}

.man{
    width: 100%;
    display: block;
    padding-top: 70px;
}

.man-down {
    margin-bottom: 20px;
    padding: 0 20px;
}

.man2 {
    width: 100%;
    margin-bottom: 20px;
    margin-top: -45vw;
}

h2 {
    text-align: center;
    font-size: 25px;
    margin-bottom: 15px;
    line-height: 36px;
}

.man-image {
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    width: 100%;
}

.img-1{
    width: 27.5%;
}

.img-2{
    width: 40%;
}

.img-3{
    width: 27.5%;
}

.counseling{
    background-color: orange;
    color: white !important;
    text-decoration: none;
    padding: 15px;
    border-radius: 40px;
    margin: 0 3%;
    display: flex;
    justify-content: center;
}

.paper{
    display: none;
}

.detail{
    color: #a2a2a4;
    font-size: 10px;
    margin-left: 5%;
}

.orange{
    background-color: orange;
    color: white;
    position: relative;
    padding-bottom: 40px;
}

video{
    width: 90%;
    padding-top: 40px;
    padding-left: 5%;
}

h1{
    padding-left: 5%;
    font-size: 30px;
    line-height: 54px;
}

.detail2{
    padding: 0 5% 5px;
    font-size: 16px;
    line-height: 26px;
    display: inline-block;
}

.last{
    display: flex;
    font-size: 18px;
    padding: 0 5% 40px 5%;
}
                           
@media screen and (min-width: 767px) {
    .logo-img{
        width: 185px;
        height: auto;
    }
    .logo:hover{
        opacity: 0.5;
    }
    section:not(.orange2){
        background-image: url(https://camp.potepan.com/wp-content/themes/potepancamp/assets/images/home/first-view/top-hero.jpg);
        height: 80vh;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        position: relative;
        padding: 50px;
    }
    .man{
        display: none;
    }
    .man2{
        width: fit-content;
        margin-top: -3vw;
        margin-bottom: 20px;
    }
    .man-down {
        position: absolute;
        top: 150px;
        padding-left: 50px;
    }
    h2{
        font-size: 38px;
        font-weight: 800;
        text-align: center;
        line-height: 54px;
    }
    
    .man-image {
        text-align: center;
        padding-bottom: 10px;
        margin: 0;
    }
    
    .button{
        display: flex;
    }
    
    .counseling{
        background-color: orange;
        color: white !important;
        text-decoration: none;
        padding: 15px;
        border-radius: 40px;
        margin: 0 3%;
        display: flex;
        justify-content: center;
    }
    
    .counseling:hover{
        background-color:  rgba(245, 170, 29, 0.713);
    }
    
    .paper{
        background-color: white;
        text-decoration: none;
        padding: 15px;
        border-radius: 40px;
        margin: 0 3%;
        display: flex;
        justify-content: center;
        border: solid 1px #a2a2a4;
    }
    
    .detail{
        color: #a2a2a4;
        font-size: 10px;
    }
    .orange2{
        align-items: center;
        margin-left: 8%;
        margin-right: 8%;
    }
    video{
        width: 80%;
        padding-left: 10%;
        padding-right: 10%;
    }
    h1{
        padding-left: 10%;
    }
    .detail2{
        padding-left: 10%;
    }
    .last{
        padding-left: 10%;
    }
}
